body {
  font-family: 'ヒラギノ丸ゴ Pro W4', 'MS ゴシック', 'Meiryo', 'Hiragino Kaku Gothic Pro', 'Hannotate SC', sans-serif;
}

button {
  color: black;
  cursor: pointer;
  background-color: #d3d3d3;
  outline: none;
  width: 180px;
  font-size: 15px;
}
